body {
  margin: 0;
  padding: 0;
  background: black;
}
.update-button {
	position: fixed;
	top: 0;
	right: 0;
	background: black;
	padding: 15px 20px;
	border: none;
	color: white;
	cursor: pointer;
}
canvas {
  background: black;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}